/* based onhttps://codepen.io/cartuhok/pen/pgwPbP */

/**
 * Base frame
 */

.slideshow {
  height: 100vh;
  width: 100vw;
  position: relative;

  background-color: black;
  color: white;
}

.slideshow .image img {
  height: 100vh;
}

/**
 * Mixins
 */
 .blackshadow {
  padding: 20px;
  background-color: black;
  opacity: 0.5;
  border-radius: 15px;
 }

/**
 * Scroll buttons
 */

.slideshow .scroll-button {
  top: 50%;
  position: absolute;

  font-size: 64px;
  cursor: pointer;
}

.slideshow .scroll-left {
  left: 0;
}

.slideshow .scroll-right {
  right: 0;
}

/**
 * Image counter
 */
.image-counter {
  right: 10%;
  bottom: 10%;
  position: absolute;
  font-size: 32px;
}

.major-count {
  font-size: 64px;
}