/* based onhttps://codepen.io/cartuhok/pen/pgwPbP */

/**
 * Base frame
 */
body {
  background-color: black;
  color: white;
}

.slideshow {
  height: 100vh;

  font-size: 6em;
}

.slideshow #image {
  overflow: scroll;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.slideshow #image-inner {
  top: 50%;
  transform: translate(-0%, -50%);
  position: absolute;
}

.slideshow #image-inner img {
  height: auto;
  width: 120vw;
}

/**
 * Mixins
 */
 .blackshadow {
  padding: 20px;
  background-color: black;
  opacity: 0.5;
  border-radius: 15px;
 }

/**
 * Scroll buttons
 */

.slideshow .scroll-button {
  top: 50vw;
  position: fixed;

  cursor: pointer;
}

.slideshow .scroll-left {
  left: 0;
}

.slideshow .scroll-right {
  right: 0;
}

/**
 * Image counter
 */
.image-counter {
  right: 10vw;
  bottom: 10vh;
  position: fixed;
}

.image-counter .major-count {
}

/**
 * QRCode
 */
.share-widget {
  position: fixed;
  top: 10vh;
  left: 10vw;
}

.qrcode-expand {
  position: fixed;
  top: 10vh;
  left: 10vw;

  z-index: 10;

  padding: 30px;
  background-color: white;
  border-radius: 15px;
}