{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Slideshow</title>
    <link rel="stylesheet" type="text/css" href="{% static 'slideshow/style.css' %}" />
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br/>
    <input id="chat-message-input" type="text" size="100"/><br/>
    <input id="chat-message-submit" type="button" value="Send"/>

    <div id="instafeed"></div>

    <div id='root'></div>
</body>
<script>
    var roomName = {{ room_name_json }};

    /*
    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/s/' + roomName + '/');

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        document.querySelector('#chat-log').value += (message + '\n');
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));

        messageInputDom.value = '';
    };
    */
</script>

<script src="//cdnjs.cloudflare.com/ajax/libs/instafeed.js/1.4.1/instafeed.min.js"></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-with-addons.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js'></script>

<script type="text/javascript">
    var feed = new Instafeed({
        get: 'user',
        userId: '8012670664',
        limit: 31,
        sortBy: 'most-recent',
        // tagName: 'mytourdejapan',
        // simple hack from https://elfsight.com/blog/2016/05/how-to-get-instagram-access-token/
        clientId: '80570e8bce81474784c09ac25a6172de',
        accessToken: '8012670664.80570e8.40cc7a9a26ed42fbb6feba8ef503b516'
        // accessToken: '8012670664.1677ed0.c3b12a0c7f0342899d081905c0a7d498'
    });
    feed.run();
</script>

<script src='{% static 'slideshow/app.js' %}?170113'></script>

</html>
