{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Slideshow</title>
    <link rel="stylesheet" type="text/css" href="{% static 'slideshow/style.css' %}" />
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br/>
    <input id="chat-message-input" type="text" size="100"/><br/>
    <input id="chat-message-submit" type="button" value="Send"/>

    <div id="photos"></div>

    <div id='root'></div>
</body>
<script>
    var roomName = {{ room_name_json }};

    /*
    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/s/' + roomName + '/');

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        document.querySelector('#chat-log').value += (message + '\n');
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));

        messageInputDom.value = '';
    };
    */
</script>

<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/instafeed.js/1.4.1/instafeed.min.js"></script> -->
<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-with-addons.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js'></script>

<script type="text/javascript">
    // API explorer: https://www.flickr.com/services/api/explore/flickr.photosets.getPhotos
    $.getJSON(
        "http://api.flickr.com/services/rest/?jsoncallback=?",
        {
            'method': 'flickr.photosets.getPhotos',
            'api_key': 'a50a9efb7526801d189cf59e5f77b8d4',
            'user_id': '85734830@N00',
            'photoset_id': '72157668589896064',
            'extras': 'url_s',
            'format': 'json'
        },
        function (data) {
            if (data.stat == 'fail') {
                throw `Error: ${data.message}`
            }
            var list = $("<ul></ul>");
            $.each(data.photoset.photo, function (i, p) {
                var link = $("<img/>").attr("src", p.url_s);
                var li = $("<li/>").append(link);
                $(list).append(li);
            });
            $("#photos").append(list);
        }
    );
</script>

<script src='{% static 'slideshow/app.js' %}?170113'></script>

</html>
